@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        .blog {
            display: inline-block;
            border-radius: 15px;
            width: 100%;
            padding: 6px;
            border-style: solid;
            border-color: #555;
            background-color: #fff;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-md">
            <a class="navbar-brand" asp-action="index" asp-controller="home">Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (Context.Session.GetString("id") == null)
            {
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="login" asp-controller="home">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="register" asp-controller="home">Register</a>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-controller="home">Welcome, @Context.Session.GetString("firstName") @Context.Session.GetString("lastName")!</a>
                        </li>

                        @if (Context.Session.GetString("roleId") == "1")
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-action="addBlogPost" asp-controller="home">Add Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="displayBadWords" asp-controller="home">View Bad Words</a>
                            </li>

                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-action="editProfile" asp-controller="home" asp-route-id="@Context.Session.GetString("id")">Edit Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="logout" asp-controller="home">Logout</a>
                        </li>
                    </ul>
                </div>

            }
        </div>
    </nav>

    <br />

    <div class="container">

        @RenderBody()
        <br />
        <br />
        <br />
        <hr />
        Jason MacFarlane
        <br />
        macf0080@algonquinlive.com
        <br />
        S#: 040890266
    </div>


</body>
</html>
